global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend http_front
    bind *:80
    mode http
    default_backend http_back
    
backend http_back
    mode http
    balance roundrobin
        stats enable
        stats uri /haproxy?stats
        balance roundrobin
        {% for host in groups["webservers"] %}
        server {{ host }} {{ hostvars[host]["ansible_default_ipv4"]["address"] }}:5000 check
{% endfor %}


## commented out as it was used for local testing.
#backend http_back
#    balance roundrobin
#    server devA 10.0.0.18:80 check
#    server devB 10.0.0.48:80 check
#    server devC 10.0.0.186:80 check

listen stats
    bind *:8011
    stats enable
    stats uri /stats
    stats refresh 1s
    stats auth admin:<%= lookup('file', 'uipassword') %>

